<a href="https://colab.research.google.com/github/mtfaye/cust_analytics/blob/master/customer_segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Retail Analytics - Customer Segmentation

In [0]:
# Dependencies
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
# import dataset segmentation
df_seg = pd.read_csv('/content/drive/My Drive/segmentation data.csv', index_col=0)
df_seg

           Sex  Marital status  Age  ...  Income  Occupation  Settlement size
ID                                   ...
100000001    0               0   67  ...  124670           1                2
100000002    1               1   22  ...  150773           1                2
100000003    0               0   49  ...   89210           0                0
100000004    0               0   45  ...  171565           1                1
100000005    0               0   53  ...  149031           1                1
...        ...             ...  ...  ...     ...         ...              ...
100001996    1               0   47  ...  123525           0                0
100001997    1               1   27  ...  117744           1                0
100001998    0               0   31  ...   86400           0                0
100001999    1               1   24  ...   97968           0                0
100002000    0               0   25  ...   68416           0                0

[2000 rows x 7 columns]

## 1 - EDA

In [6]:
# Quick stats overview
df_seg.describe()

               Sex  Marital status  ...   Occupation  Settlement size
count  2000.000000     2000.000000  ...  2000.000000      2000.000000
mean      0.457000        0.496500  ...     0.810500         0.739000
std       0.498272        0.500113  ...     0.638587         0.812533
min       0.000000        0.000000  ...     0.000000         0.000000
25%       0.000000        0.000000  ...     0.000000         0.000000
50%       0.000000        0.000000  ...     1.000000         1.000000
75%       1.000000        1.000000  ...     1.000000         1.000000
max       1.000000        1.000000  ...     2.000000         2.000000

[8 rows x 7 columns]

In [7]:
# Check correlation between variable
df_seg.corr()

                      Sex  Marital status  ...  Occupation  Settlement size
Sex              1.000000        0.566511  ...   -0.202491        -0.300803
Marital status   0.566511        1.000000  ...   -0.029490        -0.097041
Age             -0.182885       -0.213178  ...    0.108388         0.119751
Education        0.244838        0.374017  ...    0.064524         0.034732
Income          -0.195146       -0.073528  ...    0.680357         0.490881
Occupation      -0.202491       -0.029490  ...    1.000000         0.571795
Settlement size -0.300803       -0.097041  ...    0.571795         1.000000

[7 rows x 7 columns]

In [10]:
df_seg.corr().style.format("{:.2}").background_gradient\
(cmap=plt.get_cmap('coolwarm'), axis=1)